.eventos-formulario-container {
  margin: 0 auto;
  max-width: 300px;
  height: 85vh;
  padding: 0 24px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  .logo-form {
    width: 40%;
    align-self: center;
  }
  .title-container {
    text-align: center;
    display: grid;
    place-items: center;
    margin-bottom: 8px;
    h2 {
      margin: 0;
    }
    p {
      font-size: 12px;
      color: #C7C7C7;
      width: 60%;
    }
  }
}
@media screen and (max-width: 680px) {
  .logo-form {
    display: none;
  }
}