.product-detail {
  box-sizing: border-box;
  background-color: white;
  width: 360px;
  padding:0 24px 24px;
  .my-order {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    .my-order-container {
      // display: grid;
      // grid-template-rows: auto 1fr auto;
      width: 100%;
      .title-container {
          display: flex;
          align-items: center;
        .close-arrow-cart {
          display: none;
        }
        .title {
          font-size: var(--lg);
          font-weight: bold;
        }
      }
      .my-order-content {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
.desktop-view {
  border-radius: 8px;
  box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.2);
  z-index: 1;
  transform: translate(120%, 2%);
  transition: all 200ms;
  .my-order {
    .my-order-container {
      .title-container {
        .close-arrow-cart {
          height: 18px;
          margin: 0 24px;
          opacity: 0.4;
          transform: rotate(135deg);
          display: block;
        }
      }
    }
  }
}
.cart-desplegado {
  transform: translate(0%, 2%);
}