.filter-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
  .select-filter {
    border: none;
    background-color: white;
    outline: none;
    text-align: center;
    color: darkgray;
  }
}