
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 40px;
    // border-bottom: 1px solid var(--very-light-pink);
    box-shadow: 2px 0 4px rgba($color: #000000, $alpha: 0.1);
    .menu {
      display: none;
    }
    .navbar {
      display: flex;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
      }
      a {
        text-decoration: none;
        color: var(--very-light-pink);
        border: 1px solid var(--white);
        padding: 8px;
        border-radius: 8px;
      }
      a:hover {        
        color: var(--hopital-green);
        border: 1px solid var(--hopital-green);
      }
    }
    .navbar-left {
      height: 100%;
      ul {
        margin-left: 12px;
      }
      .logo {
        height: 100%;
      }
    }
    .navbar-right {
      
      ul {
        .navbar-email {
          color: var(--very-light-pink);
          font-size: var(--sm);
          margin-right: 12px;
        }
        .navbar-shopping-cart {
          position: relative;
          a:hover {
            border-color: white;
          }
          img {
            width: 100%;
            // background-color: var(--hopital-green);
            // border-radius: 50%;
            font-size: 8px;
            text-align: center;
            font-weight: bold;
            position: absolute;
            top: -2px;
            right: -1px;
          }
        }
      }
    }
    @media (max-width: 640px) {
      .menu {
        display: block;
        width: 28px;
        height: 28px;
        img {
          width: 100%;
        }
        &:hover {
          .mobile-menu {
            transform: translateX(0%);
          }
        }
      }
      .navbar-left ul {
        display: none;
      }
      .navbar-right {
        .navbar-email {
          display: none;
        }
      }
    }
  }

