
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    // border-bottom: 1px solid var(--very-light-pink);
    box-shadow: 2px 0 4px rgba($color: #000000, $alpha: 0.1);
    .menu {
      display: none;
    }
    .navbar {
      display: flex;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
      }
      a {
        text-decoration: none;
        color: var(--very-light-pink);
      }
    }
    .navbar-left {
      height: 100%;
      .logo {
        height: 100%;
        padding: 0;
      }
      ul {
        margin-left: 12px;
      }
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 60%;
        margin: 0 12px;
        border: 1px solid var(--white);
        // padding: 8px;
        border-radius: 8px;
        &:hover {
          border: 1px solid var(--hopital-green);
        }
      }
    }
    .navbar-right {
      ul {
        .navbar-email {
          color: var(--very-light-pink);
          font-size: var(--sm);
          margin-right: 16px;
        }
        .navbar-shopping-cart {
          position: relative;
          img {
            height: 32px;
          }
        }
      }
    }
    @media (max-width: 720px) {
      .menu {
        display: block;
        width: 36px;
        height: 36px;
        img {
          width: 100%;
        }
        &:hover {
          .mobile-menu {
            transform: translateX(0%);
          }
        }
      }
      .navbar-left ul {
        display: none;
      }
      .navbar-right {
        .navbar-email {
          display: none;
        }
      }
    }
  }

