nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 10vh;
  box-shadow: 2px 0 4px rgba($color: #000000, $alpha: 0.1);
  user-select: none;
  .menu {
    display: none;
  }
  .navbar {
    display: flex;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
    }
    a {
      text-decoration: none;
      color: var(--very-light-pink);
    }
  }
  .navbar-left {
    height: 100%;
    .logo {
      height: 100%;
      padding: 0;
      cursor: pointer;
    }
    ul {
      margin-left: 48px;
      gap: 36px;
    }
    li {
      display: grid;
      place-items: center;
      width: 80px;
      height: 50%;
      // margin: 0 12px;
      // gap: 24px;
      border: 1px solid var(--white);
      // padding: 8px;
      border-radius: 8px;
      cursor: pointer;
      color: var(--very-light-pink);
      &:hover {
        border: 1px solid var(--hopital-green);
      }
    }
  }
  .navbar-right {
    ul {
      cursor: pointer;
      .navbar-email {
        display: flex;
        align-items: center;
        padding-right: 16px;
        .arrow-menu-desktop {
          width: 20px;
          margin-right: 8px;
          opacity: 0.3;
          transform: rotate(90deg);
          transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        .arrow-menu-desktop-none {
          transform: rotate(0deg);
        }
        color: var(--very-light-pink);
        font-size: var(--sm);
        // margin-right: 16px;
      }
      .navbar-shopping-cart {
        position: relative;
        .cart-header {
          height: 32px;
        }
      }
    }
  }
  @media (max-width: 720px) {
    .menu {
      display: block;
      width: 36px;
      height: 36px;
      img {
        width: 100%;
      }
    }
    .navbar-left ul {
      display: none;
    }
    .navbar-right {
      ul {

        display: flex;
        .navbar-email {
          margin-right: 16px;
          display: none;
          img {
            display: none;
          }
          p {
            display: none;
          }
        }
      }
    }
  }
}

